@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(241,245,241);
}


.bg-half-screen-image {
  background-image: url('/images/pexels-ylanite-koppens-1445416 1bg.jpg');

    height: 100vh;
    background-repeat: no-repeat;
    z-index: -9999;
    width: 100%;
    background-position: right;
  }

  .thelogo{
    background-image: url("../public/images/logo.png");
  }